<footer class="footerSection">
    <div class="footerIconContainer">
        <i class="bi bi-house"></i>
        <small>Home</small>
    </div>
    <div class="footerIconContainer">
        <i class="bi bi-calendar-range"></i>
        <small>booking</small>
    </div>
    <div class="footerIconContainer">
        <i class="bi bi-exclamation-circle"></i>
        <small>About Us</small>
    </div>
    <div class="footerIconContainer">
        <i class="bi bi-telephone"></i>
        <small>Contact Us</small>
    </div>
    <div class="footerIconContainer">
        <i class="bi bi-database"></i>
        <small>Services</small>
    </div>




</footer>