<footer class="footerSection">
    <div class="footerIconContainer">
        <a href="/main_page" class="bi bi-house"></a>
        <small>Home</small>
    </div>
    <div class="footerIconContainer">
        <a href="/booking" class="bi bi-calendar-range"></a>
        <small>booking</small>
    </div>
    <div class="footerIconContainer">
        <a href="/games" class="bi bi-exclamation-circle"></a>
        <small>Games</small>
    </div>
    <div class="footerIconContainer">
        <a class="bi bi-telephone"></a>
        <small>Contact Us</small>
    </div>
    <div class="footerIconContainer">
        <a class="bi bi-database"></a>
        <small>Services</small>
    </div>

</footer>