<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/booknow.css" />
    <link rel="stylesheet" href="/css/index.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Empower Play</title>
  </head>

  <body class="whiteBody">
    <header class="bookNowPageHeader">
      <div class="logo-container colorLogoContainer text-center">
        <img src="./images/logo.png" class="logoImage smallLogo" alt="logo" />
      </div>
      <i class="bi bi-person-circle"></i>
      <input type="checkbox" id="profileCheck" />
      <div class="profileListMenu d-flex flex-column">
        <a href="/edit-profile">Edit Profile</a>
        <a href="">Logout</a>
      </div>
    </header>
    <main class="homePageMainContainer h100vh">
      <form action="/booknow" method="post">
        <div class="FormContainer d-flex flex-column">
            <h3 class="text-center text-uppercase my-2">Add Sports Facilities</h3>
          <div class="inputContainer">
            <select name="sports" id="sports">
              <option value="" disabled selected>Choose a Sport</option>
              <option value="football">Football</option>
              <option value="basketball">Basketball</option>
              <option value="tennis">Tennis</option>
            </select>
          </div>
          <div class="inputContainer">
            <input type="date" placeholder="Choose a Date" name="date" />
          </div>
          <div class="inputContainer">
            <input type="time" placeholder="Choose a Date" name="time" />
          </div>
          <div class="inputContainer">
            <input type="text" placeholder="Enter Address" name="address" />
          </div>
          <div class="inputContainer">
            <textarea
              name="notes"
              placeholder="Facility Size"
              id="notes"
              cols="30"
              rows="3"
            ></textarea>
          </div>
          <button type="submit" class="signupBtn bookNowBtn">Input Now</button>
        </div>
      </form>
    </main>
    <%- include('components/footer.ejs') %>

    <script>
      let profileCheck = document.getElementById("profileCheck");
      let profileListMenu = document.querySelector(".profileListMenu"); ;
      profileCheck.addEventListener("click", () => {
        if (profileCheck.checked) {
          profileListMenu.style.visibility = "visible";
        } else {
          profileListMenu.style.visibility = "hidden";
        }
      });
    </script>
  </body>
</html>
