<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link rel="stylesheet" href="/css/index.css" />
    <title>Empower Play</title>
  </head>
  <body>
    <main>
      <div class="d-flex flex-column justify-content-between h-100">
        <div class="logo-container">
          <img src="/images/logo.png" class="logoImage" alt="logo" />
        </div>
        <% if(typeof alert != 'undefined') { %>
          <% alert.forEach(function(error) { %>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <%= error.msg %>
                </div>
          <% }) %>
      <% } %>
        <form action="/signup" method="post"> 
          <div class="FormContainer d-flex flex-column">
            <h3 class="p-1">Create an Account</h3>
            <div class="inputContainer">
              <input type="text" placeholder="First Name" name="firstName" />
              <i class="bi bi-person fs-3 text-secondary"></i>
            </div>
            <div class="inputContainer">
              <input type="text" placeholder="Last Name" name="lastName" />
              <i class="bi bi-person fs-3 text-secondary"></i>
            </div>
            <div class="inputContainer">
              <input type="tel" placeholder="Phone Number" name="phone" />
              <i class="bi bi-telephone fs-3 text-secondary"></i>
            </div>
            <div class="inputContainer">
              <input type="email" placeholder="Email" name="email" />
              <i class="bi bi-envelope-at fs-3 text-secondary"></i>
            </div>
            <div class="inputContainer">
              <input type="password" placeholder="Password"  name="password" />
              <i class="bi bi-eye-slash fs-3 text-secondary"></i>
            </div>
            <button type="submit" class="signupBtn mt-3">Sign Up</button>
            <p class="graytext">Or</p>
            <button type="button" class="facebookLoginBtn"><i class="bi bi-facebook fs-3 mx-2"></i> Continue with Facebook</button>
            <button type="button" class="googleLoginBtn">
              Continue with Google
            </button>
            <button type="button" class="appleLoginBtn">
              <i class="bi bi-apple fs-3 mx-2"></i> Continue with Apple
            </button>
          </div>
        </form>
        
      </div>
    </main>
  </body>
</html>
