.paymentMethodHeader {
  position: relative;
}
.paymentMethodHeader > input[type="checkbox"] {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 3rem !important;
}
.paymentMethodHeader > input[type="checkbox"] {
  width: 60px;
  height: 60px;
      opacity: 0;
}
.paymentMethodHeader > .profileListMenu {
  visibility: hidden;
  position: absolute;
  top: 75px;
  right: 10px;
  background-color: #f7f5f5;
  width: max-content;
  padding: 1rem;
  border-radius: 1rem;
}
.paymentMethodHeader > .profileListMenu > a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}
.addCard{
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}
.addCard > a{
    text-decoration: none;
    border-bottom: 1px solid black;
      font-size: 1.5rem;
}
.addCard > a > .bi-plus-lg,.addCard >  a > .bi-credit-card-2-front-fill, .paymentCardsList > .bi-credit-card-2-front-fill{
    font-size: 2rem !important;
    color: #000000;
}
.paymentCardsList{
    border-bottom: 1px solid black;

}
.paymentCardsList > input{
    font-size: 1.5rem;
    margin-left: 10px;
}